<%- include('partials/header') %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      
      <% if (locals.post){ %>
      <form id="editForm" method="post" action="/api/posts/<%= post.id %>">
        <input type="text" name="title" value="<%= post.title %>" placeholder="Recipe Title" class="form-control" />
        <textarea name="content" rows="10" placeholder="Recipe Details" class="form-control mt-3"><%= post.content %></textarea>
        <input type="text" name="author" value="<%= post.author %>" placeholder="Your Name" class="form-control mt-3" />
        <button class="btn btn-enchanted full-width mt-4" type="submit">
          <i class="fas fa-save me-2"></i><%= submit %>
        </button>
      </form>

      <% }else{ %>
        <form id="newPostForm" method="post" action="/api/posts">
          <input type="text" name="title" placeholder="Recipe Title" required class="form-control" />
          <textarea name="content" placeholder="Recipe Details" required rows="10" class="form-control mt-3"></textarea>
          <input type="text" name="author" placeholder="Your Name" required class="form-control mt-3" />
          <button class="btn btn-enchanted full-width mt-4" type="submit">
            <i class="fas fa-plus-circle me-2"></i><%= submit %>
          </button>
        </form>
      <% } %>
    </div>
  </div>
</div>

<%- include('partials/footer') %>