
<%- include('partials/header', {title: post.title}) %>

<div class="container my-3 my-md-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <article class="single-post">
        <h1 class="post-title"><%= post.title %></h1>
        
        <div class="post-meta d-flex flex-column flex-md-row">
          <span class="date mb-1 mb-md-0 me-md-3">
            <i class="far fa-calendar me-1"></i><%= post.date %>
          </span>
          <span class="author">
            <i class="fas fa-user me-1"></i><%= post.author %>
          </span>
        </div>
        
        <div class="post-content py-2 py-md-3">
          <%= post.content.replace(/\n/g, '<br>') %>
        </div>
        
        <div class="mt-4 mt-md-5 text-center text-md-start">
          <a href="/" class="btn btn-enchanted btn-sm btn-md-normal">
            <i class="fas fa-arrow-left me-2"></i>Back to Recipes
          </a>
        </div>
      </article>
    </div>
  </div>
</div>

<%- include('partials/footer') %>